body {
    width: 100%;
    margin: 0;
}
.col1>h2, .col2>h2, .col3>h2, .col4>h2 {
    font-family: 'EB Garamond', Helvetica, sans-serif;
    font-weight: normal;
    color: rgb(255,170,0);
    color: -moz-linear-gradient(90deg, rgba(255,170,0,1) 0%, rgba(82,55,82,1) 73%, rgba(191,72,5,1) 100%);
    color: -webkit-linear-gradient(90deg, rgba(255,170,0,1) 0%, rgba(82,55,82,1) 73%, rgba(191,72,5,1) 100%);
    color: linear-gradient(90deg, rgba(255,170,0,1) 0%, rgba(82,55,82,1) 73%, rgba(191,72,5,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffaa00",endColorstr="#bf4805",GradientType=1);
}
a {
    /*color: #193a65;*/
    color: #012a46;
    text-decoration: none;}
    a:hover {
    color: #ed2225;
    text-shadow: 2% 2% 6% lightslategray;
    font-weight: normal;
    margin: 0%;
    color: -moz-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(25,58,101,1) 35%, rgba(0,212,255,1) 100%);
    color: -webkit-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(25,58,101,1) 35%, rgba(0,212,255,1) 100%);
    color: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(25,58,101,1) 35%, rgba(0,212,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#00d4ff",GradientType=1);
}
nav {
    font-family: 'Nunito+Sans', Georgia, 'Times New Roman', Times, serif;
    font-size: 250%;
    padding: 0.5%;
}
div.sitewraper {
    width: 100%;
    margin: 0 auto;
    background-color: hsla(193, 66%, 65%, 50% );
}
div.bar {
    border-bottom: 2% round rgb(167, 82, 33);
    position: fixed;
    overflow: auto;
    top: 0;
    margin: 0;
    width: 100%;
    min-height: 15%;
    padding: 0.25%;
    background: rgb(82,55,82);
    background: -moz-linear-gradient(90deg, rgba(82,55,82,1) 4%, rgba(82,55,82,1) 35%, rgba(0,212,255,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(82,55,82,1) 4%, rgba(82,55,82,1) 35%, rgba(0,212,255,1) 100%);
    background: linear-gradient(90deg, rgba(82,55,82,1) 4%, rgba(82,55,82,1) 35%, rgba(0,212,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#523752",endColorstr="#00d4ff",GradientType=1);
    /*background-color: honeydew;
    background-color: -webkit-gradient(linear, left top, left bottom, from(honeydew), to(rgb(224, 247, 224)));*/
}
figure.logo {
    display: block;
    float: left;
    width: 45%;
    height: auto;
    padding: 0%;
    margin: 0 auto;
}
nav>ul {
    width: 45%;
    padding: 1%;
    margin: 0%;
    float: left;
    text-align: center;
    word-spacing: 1em;
}
nav>ul>li {
    display: inline;
}
#main_image {
    display: block;
    max-width: 80%;
    text-align: center;
    margin: 5%;
    margin-left: 10%;
}
.content {
    font-family: 'Cabin', Georgia, 'Times New Roman', Times, serif;
    overflow: auto;
    margin: 1%;
    padding: 1%;
    width: 100%;

    border: 2% solid lightslategray;
}
.col1, .col2, .col3, .col4 {
    overflow: auto;
    max-width: 23%;
 
    margin: 1%;
    padding: 0;
    float: left;
}
#acreditation {
    overflow: auto;
    max-width: 100%;
    /*margin: 10%;
    padding: 1%;*/
}
.row1, .row2, .row3, .row4 {
    display: block;
    float: left;
    max-width: 25%;
    max-height: 80%;
    margin-right: 5%;
    padding: 1%;
}
footer {
    overflow: auto;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    background: rgb(88,179,210);
}